@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
	<link href="~/css/signup.css" rel="stylesheet" />
	<link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
	<header style="background-color:black">
		<h1 style="background-color:black; color:wheat; margin-bottom:0px">Sign up</h1>
	</header>
	<main>
		<form class="form_class" asp-controller="Account" asp-action="Signup">
			<div class="form_div">
				<label style="background:none">Username:</label>
				<input class="field_class" name="login_txt" type="text" placeholder="Enter your username" autofocus>
				</br>
				<label>Password:</label>
				<input id="pass" class="field_class" name="password_txt" type="password" placeholder="Enter your password">
				</br>
				<label>Re-Password:</label>
				<input id="pass" class="field_class" name="re_password_txt" type="password" placeholder="Re-enter your password">
				</br>
				<button class="submit_class" type="submit">Sign up</button>
			</div>
			<div class="info_div">
				<p>You already have an account.? <a asp-controller="Account" asp-action="Login">Log in now!</a></p>
			</div>
		</form>
	</main>
</body>